
.vertical-flex {
    display: flex;
    align-items: left;
    text-align: left;
    flex-direction: column;
    width: 600px;
}

body {
    font-family: 'Helvetica Neue', Veranda, sans-serif;
    font-size: 18px;
}

h1 {
    letter-spacing: 1px;
    margin: 60px;
    font-size: 45px;
    color: rgb(60,60,60)
}

label {
    margin-bottom: 30px;
    margin-top: 30px;
}

.center-flex {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

textarea {
    resize: vertical;
    font-size: 16px;
}

.results {
    font-family: Monaco, monospace;
    margin-bottom: 30px;
    margin-top: 30px;
    white-space: pre-wrap;
}

text {
    padding-bottom: 7px;
    padding-top: 7px;
}

.red {
    background: rgb(235, 154, 153);
}

.green {
    background: rgb(159, 235, 152);
}